.btn {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
    
}

.btn:hover {
    background-color: #F05941;
}

