.input-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
   
}

.input-field-container label {
    margin-bottom: 5px;
}

.input-field-container input,
.input-field-container textarea {
    border: 1px solid #ccc;
        border-radius: 5px;
        margin: 5px;
    padding: 5px;
}