.Resume-Container {
    background-color: white;
    border: 2px solid rgb(252, 252, 252);
    width: 70%;
    height: auto;
    background: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 4px;
}

.personal-section {
    background-color: #2B3499;
    padding: 20px;
    margin:10px;
    color: white;
    text-shadow: 2px black;
}


.nameInfo {
    margin-bottom: 10px;
    text-align: center;
}

.contact  {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.contact div{
    margin-bottom: 5px;
}

/* Experience details */

.section-title{
    text-align: center;
    background-color: #2B3499;
    padding: 10px;
    margin: 10px;
    color: white;
}

.Display-Education,
.Display-Experience{
    display: flex;
    justify-content: space-around;
}
.Date-Location{
    text-align: right;
}

.date-period,
.location,
.University,
.Department,
.company,
.position,
.description{
    margin: 0;
    padding: 0;
}

.Display-Experience {
    display: flex;
    justify-content: space-between;
}

.Date-Location,
.company-designation {
    width: 48%;
}

